@{
    ViewData["Title"] = "About";
}

<!-- Background Image-->
<!-- Title-->
<div class="container pt-5">
    <div class="card mb-3" style="margin-left:10%; margin-right: 10%; border-radius:05%">
        <div class="card-body">
            <h2 class="text-center mt-2">About the Project</h2>
            <div class="card-row text-center mt-5">
                <p>
                    Feather Touch Cosmetics Tattoo Studio were facing challenges with their current booking system, particularly with their tattoo services, which cannot be booked online due to specific scheduling requirements. As a result, the studio relies on manual bookings, causing delays in their business processes. Additionally, they have a single on-premise computer for viewing staff schedules, which can be  inconvenient.
                    <br /><br />
                    To address these issues, the K&P Tech project team, composed of third-year Bachelor of Information Technology (BIT) students from Wellington Institute of Technology (WelTec) as part of the Capstone Project, would develop a comprehensive system to manage online bookings for all services, including the tattoo services. The system will also provide remote access to staff members with appropriate account permissions and ensure responsiveness across different browser sizes.

                </p>
            </div>
            <div class="card-row text-center mt-5">
                <div>
                    <span class="mr-4">Project Team: </span>
                    <span class="mr-4">Kim Watene</span>
                    <span class="mr-4">Prasadi Weerasinghe</span>
                </div>
            </div>
        </div>
    </div>
</div>
