@{
    ViewData["Title"] = "Recommendations";
}

<!-- Background Image-->
<!-- Title-->
<div class="container pt-5 pb-3">
    <div class="card" style="margin-left:10%; margin-right: 10%; border-radius:05%;">
        <div class="card-body">
            <h2 class="text-center mt-3">Learning Framework</h2>
            <div class="card-row pl-5 pr-5">
                <p>
                    The following courses undertaken throughout the Bachelor of IT degree, were all necessary pieces of knowledge that were useful in the Capstone project and is recommended for all to learn.
                    <ul>
                        <li>Communication Studies - A project’s success relies heavily on the team’s ability to communicate and collaborate effectively
                    </ul>
                    <ul>
                        <li>Project Management - An understanding of the development lifecycle for a software project.
                    </ul>
                    <ul>
                        <li>Programming I and II - Learn C++ and C# programming languages
                    </ul>
                    <ul>
                        <li>Logical Database Design - Understand a database schema and implement it into this project
                    </ul>
                    <ul>
                         <li>Systems Analysis and Design - Understand and apply the techniques during the design phase
                    </ul>

                    <ul>
                         <li>Software Testing - Understand the importance of Testing and perform tests
                    </ul>
                    <ul>
                        <li> Web Application Development - Learn the Model-View-Controller framework
                    </ul>
                    <ul>
                         <li>Human Interaction technology - Learn the interfaces of an application
                    </ul>

                    <ul>
                         <li>Security for DevOps - Continuous integration and deployment of the system in production
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
