@{
    ViewData["Title"] = "Recommendations";
}

<!-- Background Image-->
<!-- Title-->
<div class="container pt-5 pb-3">
    <div class="card" style="margin-left:10%; margin-right: 10%; border-radius:05%;">
        <div class="card-body">
            <h2 class="text-center mt-3">Recommendations</h2>
            <div class="card-row pl-5 pr-5">
                <p>
                    After completing the Capstone Project at Weltec, we recommend the following points to any person/s who intends to work on a software development project.
                    <br /><br />
                    <h5>Project Management</h5>
                    <ul>
                        <li>Set clear goals and requirements
                        <li>Break down the project into manageable tasks
                        <li>Collaboration and teamwork should be the goal
                        <li>Establish clear communication protocols, such as regular check-ins or daily stand-up meetings
                    </ul>
                    <br />
                    <h5>Effective Plan for Tracking your work</h5>
                    <ul>
                        <li>Set a time in your day to record logs</li>
                        <li>Keep a diary open in a browser or on hand to record your work</li> 
                        <li>keeping an organised file system will be helpful</li>
                    </ul>
                    <br />
                    <h5>Tools and Technologies</h5>
                    <ul>
                        <li>Google Drive - Excellent document collaboration tool</li>
                        <li>Trello - Excellent project collaboration tool</li>
                        <li>Lucid Charts - Good diagram creation tool, it has more flexibility for free use</li>
                        <li>Google Docs and Sheets - Great document creation tools</li>
                        <li>Visual Studio - Excellent IDE for software development</li>
                        <li>Admin LTE 3 - Excellent open source template for development</li>
                        <li>Selenium - Quick and easy tool for testing automation</li>
                    </ul>
                    <br />
                    <h5>Training and Development</h5>
                    Declare all team members skills so training can be planned for and undertaken, when necessary.
                </p>
            </div>
        </div>
    </div>
</div>
